
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &mt LSHFT TAB     &kp Q   &kp W     &kp E         &kp R             &kp T         &kp Y         &kp U				&kp I         &kp O     &kp P      &mt RSHFT MINUS
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &none &none &none &none &none &none             &none &none &none &none &none &none
                      &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };

        layer_1 {
            bindings = <
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &none &none &none &none &none &none             &none &none &none &none &none &none
                      &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };

        layer_2 {
            bindings = <
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &none &none &none &none &none &none             &none &none &none &none &none &none
                      &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };

        layer_3 {
            bindings = <
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &none &none &none &none &none &none             &none &none &none &none &none &none
                &none &none &none &none &none &none             &none &none &none &none &none &none
                      &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
    };
};
